.navbarbox{
    background-color: blueviolet;
    height: 10vh;
    padding-top: 0.5vh;
   
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: bold;
        color: yellow;
    
    }
    NavLink{
        color: yellow;
    }
    li{
        list-style: none;
    }


}
.navbar{
    display: flex;
    justify-content: center;
    
    align-items: flex-start;

}
